body{
    font-family:'Arial', sans-serif;
    background-color: #d4d4dc;
}

#wrapper{
    max-width: 100%;
    margin: 0 auto;
    padding: 32;
}

header {
    background-color: #393f4d;
    height: 150px;
    padding: 4px;
}

header h1{
    text-align: center;
    line-height: 50px;
    color: white;
    font-weight: bold;
}

.main_menu {
    padding: 5px 0 5px  0;
    text-align: center;
    line-height: 32px;
    background-color: #393f4d;
}

ul.main_menu li{
    display: inline;
    padding: 0 10px 0 10px;
    font-size: 16opx;
    color: d4d4dc;
}
button {
    background-color: darkgrey; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


  
  /* Set black background color, white text and some padding */
footer {
    background-color: #393f4d;
    color: white;
    padding: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
  
  /* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
}
  
#canvas {
    margin-right: auto;
    margin-left: auto;
    margin: auto;
}